@import "config";
@import "menu";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome//scss/solid.scss";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: calc(100vh - $footer-height);
  margin: 0;
  font-family: Palatino, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    //background: rgba(darken($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  height: 3rem;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 6rem;
  margin: 0;
  min-height: calc(100vh - 45px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }

  &#services {
    overflow: hidden;

    h1 {
      margin-top: 10vh;
    }
  }
}

// Services pages

.services-info {
  display: grid;
  grid-gap: 30px 30px;

  grid-template-areas:
  //  "headline1 headline2 headline3"
    "service1 service2 service3";
  grid-template-columns: repeat(3, 1fr);
  height: min-content;

  .service {
    background: $primary-color;
    padding: 1rem;
    border: #000 1px solid;
    border-radius: 3%;
    max-width: 400px;
    text-align: left;

    .headline {
      font-size: 1.5rem;

      text-align: center;
      //   background: darken($primary-color, 5);
      padding: 0.5rem;
      //   border-bottom: #000 5px solid;
    }

    .more {
      display: none;
    }

    .readMoreBtn {
      background-color: $primary-color;
      max-width: 70px;
      border-bottom: #000 1px solid;
      cursor: pointer;
    }
  }

  .service-1 {
    grid-area: service1;
  }
  .service-2 {
    grid-area: service2;
  }
  .service-3 {
    grid-area: service3;
  }
}

// Work style and Springi approaches
.work-info {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-areas:
    "approach1 approach2"
    "approach3 approach4";
  grid-template-columns: repeat(2, 1fr);

  .approach {
    border: 3px #000 solid;
    position: relative;
    max-width: 500px;
    min-height: 300px;
    @include easeOut;
    background-color: white;

    .headline {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem;
    }

    .description {
      opacity: 0;
      transition: 1s;
      padding: 1rem;
    }

    &:hover {
      border-color: $secondary-color 1px solid;
      @include easeOut;
      background: white;

      .description {
        opacity: 1;
      }
    }
  }

  .approach-1 {
    grid-area: approach1;
    background: url("../img/springi_logo.png");
    background-size: cover;
    background-position: center;
  }

  .approach-2 {
    grid-area: approach2;
    background: url("../img/springi_logo.png");
    background-size: cover;
    background-position: center;
  }

  .approach-3 {
    grid-area: approach3;
    background: url("../img/springi_logo.png");
    background-size: cover;
    background-position: center;
  }

  .approach-4 {
    grid-area: approach4;
    background: url("../img/springi_logo.png");
    background-size: cover;
    background-position: center;
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 45px;
  // padding: 1rem;
  background: $primary-color;
  color: set-text-color($primary-color);
}

@import "mobile";
